name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish name
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'

      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Install deps
        run: npm ci

      - name: Create ./gen folder
        run: npm run pregenerate

      - name: Generate TS proto buf
        run: npm run generate

      - name: Publish package
        run: npm publish
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
